root = "."
testdata_dir = "testdata"
tmp_dir = "bin"

[build]
  cmd = "go build -o ./bin/main.exe ./cmd/main.go"
  bin = "./bin/main.exe"
  full_bin = ""
  include_ext = ["go", "templ"]
  exclude_dir = ["static", "node_modules", "bin"]
  args_bin = []
 
  delay = 1000
  
  exclude_file = []
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  
  include_dir = []
  
  include_file = []
  kill_delay = "0s"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  post_cmd = []
  pre_cmd = ["templ generate"]
  rerun = false
  rerun_delay = 500
  send_interrupt = false
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  silent = false
  time = false

[misc]
  clean_on_exit = false

[proxy]
  app_port = 0
  enabled = false
  proxy_port = 0

[screen]
  clear_on_rebuild = false
  keep_scroll = true
