package views

templ Footer(year int) {
  <footer class="fixed bottom-3 right-4 z-[90] text-xs text-white/40 hover:text-white/70 transition font-mono select-none">
    © {year} Waggis · Design inspiration by <a href="https://ottomated.net/" target="_blank" class="tech-clickable cursor-pointer decoration-2 hover:decoration-4 transition">ottomated</a>
  </footer>
}