package views

templ Globe() {
	<section id="globe-container" class="w-full flex items-center justify-center mt-8 opacity-0 transition-opacity duration-700" style="min-height: 600px; height: 600px;">

	</section>
}